h1{
    color: black;
    
}

.header-components{
    display: flex;
    border: 2px solid ;
    border-radius: 30px;
    justify-content: space-between;
    box-shadow: 5px 10px 18px grey;
    }
.header-components >ul{
    display: flex;
    list-style-type: none ;
    
}
img{
    width: 170px;
    padding: 10px;
    mix-blend-mode: multiply;
    background-color: white;
}
.header-components >ul >li{
    padding: 10px;
    margin: 10px;
    font-size: 24px;


}