@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Gilroy', Arial, sans-serif;
}
.login-btn {
  border-color: transparent;
  border-radius: 2rem;
  height: 3rem;
  width: 8rem;
  box-shadow: -10px 15px 57px 26px rgba(0, 0, 0, 0.1);
  background: #940af7;
  color: white;
  font-weight: 400;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
}